.profile-container {
  background-color: #272727;
  padding: 0 var(--side-space);
  padding-top: var(--nav-height);
  width: 100%;
}

.name {
  display: flex;
  flex-direction: column;
}

.block-title {
  font-size: 18px;
}

/* .series-container {
  margin: 0 auto;
} */

.watch-blocks {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: 30px;
  width: 100%;
}

.series-block {
  background-color: brown;
  height: 200px;
  width: 150px;
  /* margin: 20px; */
}
