.profile-container {
  background-color: #272727;
  padding: 0 var(--side-space);
  padding-top: var(--nav-height);
}

.name {
  display: flex;
  flex-direction: column;
}

.block-title {
  font-size: 18px;
}

.series-container {
  margin: 0 auto;
}

.watch-blocks {
  background-color: teal;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.series-block {
  background-color: brown;
  height: 200px;
  width: 150px;
  margin: 20px;
}
