.series {
  padding: 0 var(--side-space);
  padding-top: var(--nav-height);
}

h1 {
  margin: 0;
}

.shows {
  width: 100%;
}

.shows-block-container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: brown;
}

.blocks {
  width: 15%;
  height: 225px;
  background-color: green;
  margin: 10px;
  margin: 5px 0;
  margin-right: 30px;
}