.series{
  width: 100%;
  padding-right: var(--side-space);
  padding-left: var(--side-space);
}

.series-shows-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.series-shows-cent{
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.series-shows-blocks{
  background-color: burlywood;
  width: 150px;
  height: 200px;
  margin: 10.5px;
  float: left;
}

.series-show-blocks-img{
  height: 100%;
  width: 100%;
}