.movies{
    width: 100%;
    padding-right: var(--side-space);
    padding-left: var(--side-space);
}

.movies-shows-container{
    width: 100%;
}

.movies-shows-cent{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
}

.movies-shows-blocks{
    width: 150px;
}

.movies-show-blocks-img{
    height: 200px;
    width: 100%;
}

.movies-show-blocks-title{
    margin: 0;
}

@media only screen and (max-width: 770px){
    .movies{
        padding-right: 25px;
        padding-left: 25px;
    }
}