.movies{
    width: 100%;
    padding-right: var(--side-space);
    padding-left: var(--side-space);
}

.movies-shows-container{
    width: 100%;
}

.movies-shows-cent{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    gap: 10px;
}

.movies-shows-blocks{
    width: 150px;
}

.movies-show-blocks-img{
    height: 200px;
    width: 100%;
}

.movies-show-blocks-title{
    margin: 0;
}

@media only screen and (max-width: 770px){
    .movies{
      padding: 0 20px;
    }
    
  .movies-shows-cent{
    grid-template-columns: auto auto auto auto;
  }
}

@media only screen and (max-width: 440px){

  .movies{
    padding: 0 20px;
  }

  .movies-shows-cent{
    grid-template-columns: auto auto;
  }
}